@import "syntax-variables";
@import "vim-mode";
@import "source-gfm";

atom-text-editor, :host {
  font-weight: 500;
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

atom-panel .output {
  font-size: 1.3em;
}

.status-bar {
  color: @grey;
}

.comment {
  color: @grey;

  &.quote {
    font-style: oblique;
    font-family: Georgia, serif;
    font-weight: 600;
    -webkit-font-smoothing: aliased;
  }
}

.entity {
  &.name.type {
    font-weight: 400;
    color: @white;
  }

  &.other.inherited-class {
    color: @grey-middle;
  }
}

.keyword {
  font-weight: 600;
  color: @blue;

  &.control {
    color: @blue;
    font-weight: 600;
  }

  &.operator {
    font-weight: 500;
    color: @orange;

    &.assignment {
      font-weight: 500;
      color: @blue;
    }

    &.pipe {
      color: @grey-middle;
    }

    &.arrow {
      color: @blue;
      font-weight: 800;
    }

    &.logical.python {
      color: @blue;

    }
    &.elm {
      color: @blue;
      font-weight: 600;
    }
  }


  &.other.special-method {
    color: @blue;
    font-weight: 600;
  }

  &.other.unit {
    color: @orange;
  }

  &.other.colon {
    font-weight: 500;
    color: @blue;
  }
}

.storage {
  color: @blue;
  font-weight: 600;
}

.constant {
  color: @orange;

  &.language.python {
    color: @grey-middle;
  }

  &.keyword {
    font-weight: 500;
    color: @grey-middle;
  }

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @cyan;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    font-weight: 400;
    color: @white;
  }

  &.other.keywords {
    color: @grey-middle;
  }

  &.other.elm {
    color: @grey-middle;
  }
}

.variable {
  color: @grey-very-light;

  &.interpolation {
    color: darken(@cyan, 10%);
  }

  &.language {
    color: @grey-middle;
  }

  &.parameter.function {
    color: @grey-very-light;
  }

  &.other.constant {
    color: @grey-middle;
  }

  &.other.anonymous {
    color: @orange;
  }

  &.other.readwrite {
    color: @cyan;
  }

  &.unordered.list, &.ordered.list {
    font-weight: 600;
    color: @blue;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  font-weight: 400;
  color: @white;

  &.quoted.double.block.python {
    color: @grey-middle;
    font-weight: 500;
  }

  &.regexp {
    color: @green;

    .source.ruby.embedded {
      color: @red;
    }
  }

  &.other.link {
    color: @cyan;
  }
}

.punctuation {
  &.separator.inheritance {
    color: @grey-middle;
  }

  &.definition {
    &.list {
      color: @white;
    }
    
    &.inheritance {
      color: @grey-middle;
    }

    &.variable {
      color: @cyan;
    }

    &.comment {
      color: @grey;
    }

    &.string,
    &.parameters,
    &.array,
    &.arguments {
      color: @grey-middle;
    }

    &.constant {
      font-weight: 500;
      color: @blue;
    }

    &.heading,
    &.identity {
      font-weight: 600;
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: @grey-middle;
  }

  &.section {
    &.class {
      color: @grey-light;
    }

    &.array {
      color: @grey-middle;
    }

    &.scope {
      font-weight: 600;
      color: @blue;
    }
  }
}

.support {
  &.class {
    color: @grey-middle;
  }

  &.constant.elm {
    color: @grey-middle;
  }

  &.function  {
    color: @cyan;

    &.magic {
      font-weight: 500;
      color: @grey-middle;
    }

    &.builtin {
      color: @cyan;

      &.decorator {
        color: @grey-middle;
      }
    }

    &.any-method {
      font-weight: 600;
      color: @blue;
    }
  }

  &.type.python {
    color: @grey-middle;
  }

  &.type.exception {
    color: @cyan;
  }

  &.type.prelude.elm {
    color: @cyan;
  }
}

.entity {
  &.name.function {
    font-weight: 400;
    color: @white;

    &.decorator {
      font-weight: 500;
      color: @grey-middle;
    }
  }

  &.name.class, &.name.type.class {
    font-weight: 400;
    color: @white;
  }

  &.name.section {
    font-weight: 600;
    color: @blue;
  }

  &.name.tag {
    font-weight: 600;
    color: @blue;
  }

  &.other.attribute-name {
    color: @orange;

    &.html {
      color: @grey-middle;
    }

    &.id {
      font-weight: 600;
      color: @blue;
    }
  }
}

.meta {
  &.function {
    &.parameters {
      color: @grey-middle;
    }
  }

  &.function-call {
    color: @grey-middle;

    &.arguments {
      color: @grey-light;
    }
  }

  &.vector {
    color: @blue;
  }

  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @grey-middle;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.property-name {
    color: @grey-middle;
  }

  &.structure.dictionary {
    font-weight: 600;
    color: @blue;

    .string.quoted.double {
      font-weight: 600;
      color: @blue;
    }
  }

  &.structure.dictionary.value {
    color: @white;

    .string.quoted.double {
      color: @white;
    }
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    font-weight: 600;
    color: @blue;
  }

  &.changed {
    color: @red;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    background-color: @white;
    color: @grey-dark;

    &:hover {
      background-color: @orange;
    }
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.underline.link {
    color: @grey-middle;
  }

  &.raw {
    color: @cyan;
  }

  &.raw.inline {
    color: @green;
  }

  &.heading {
    color: @green;

    &.punctuation.definition.heading {
      font-weight: 600;
      color: @blue;
    }
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
