@import 'syntax-variables';
@import 'vim-mode';

.meta.function-call.generic,
.entity.name.function {
  color: @color-keyword;
}

.meta.brace.square,
.meta.brace.curly,
.meta.brace.round {
  color: @color-punctuation;
}

.punctuation {
  color: @color-punctuation;
}

.keyword {
  color: @color-keyword;

  &.operator.arithmetic,
  &.operator.logical {
    color: @color-constant;
  }

  &.other.unit {
    color: @color-constant;
  }
}

.entity {
  &.class.css {
    color: @color-keyword;
  }

  &.name.tag.reference,
  &.name.tag.custom {
    color: @color-constant;
  }

  &.name.tag {
    color: @color-keyword;
  }
}

.string {
  font-style: italic;
  color: @color-string;

  &.unquoted {
    font-style: normal;
    color: @color-text;
  }

  &.regexp {
    color: @color-constant;

    .punctuation.definition.string {
      color: @color-constant;
    }
  }
}

.storage {
  &.type.js,
  &.modifier.js {
    color: @color-keyword;
  }

  &.type.string {
    color: @color-constant;
  }

  &.type.class {
    color: @color-keyword;
  }
}

.constant {
  &.other.caps {
    color: @color-constant;
  }

  &.numeric {
    color: @color-constant;
  }

  &.language.boolean {
    color: @color-constant;
  }
}

.comment {
  color: @color-comment;
}

.support {
  &.constant {
    &.font-name,
    &.property-value {
      color: @color-string;
    }
  }

  &.function.misc {
    color: @color-keyword;
  }
}

// Text Editor

atom-text-editor {
}

atom-text-editor,
:host {
  font-weight: 400;
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @grey-light;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
