@white: #E9E9FE;

@grey-dark: #12121B;
@grey: #404052;
@grey-middle: #505062;
@grey-light: #72728B;
@grey-very-light: #B0B0C2;

@red: #E25;
@green: #2C7;

@blue: #16F;
@blue-light: #19F;

@orange: #e93;
@cyan: #1bF;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282A2E;
@very-dark-gray: #1D1F21;

@purple: #B294BB;
@light-orange: #F0C674;
