@white: #eaeaf6;

@grey-dark: #181820;
@grey: #414152;
@grey-middle: #59596e;
@grey-light: #9191ab;

@red: #e25;
@green: #2c7;
@blue: #16f;
@orange: #e93;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #1bf;
@purple: #b294bb;
@light-orange: #f0c674;
