@white: #EDEDF8;

@grey-dark: #10101B;
@grey: #2D2D3C;
@grey-middle: #49495D;
@grey-middle: #424258;
@grey-light: #636380;
@grey-very-light: #B0B0C1;

@blue: #16F;
@blue-light: #19F;

// Material Design Colors

@md-red:            #F44336;
@md-pink:           #E91E63;
@md-purple:         #9C27B0;
@md-deep-purple:    #673AB7;
@md-indigo:         #3F51B5;
@md-blue:           #2196F3;
@md-light-blue:     #03A9F4;
@md-cyan:           #00BCD4;
@md-teal:           #009688;
@md-teal-300:       #4DB6AC;
@md-green:          #4CAF50;
@md-light-green:    #8BC34A;
@md-lime:           #CDDC39;
@md-yellow:         #FFEB3B;
@md-amber:          #FFC107;
@md-orange:         #FF9800;
@md-deep-orange:    #FF5722;
@md-brown:          #795548;
@md-grey:           #9E9E9E;
@md-grey-700:       #616161;
@md-blue-grey:      #607D8B;
