.syntax--source.syntax--css,
.syntax--source.syntax--inside-js.syntax--styled {
  .constant.language.pseudo {
    color: @color-keyword;
  }

  .variable.parameter.url {
    color: @color-constant;
  }

  .support.function.css {
    color: @color-keyword;
  }

  .invalid.illegal {
    color: @color-constant;
  }

  .entity.other.attribute-name.pseudo-class {
    color: @color-keyword;
  }

  .entity.name.tag {
    color: @color-keyword;
  }

  .meta.property-value {
    color: @color-string;
  }

  .meta.keyframes.entity.other.attribute-name {
    color: @color-constant;
  }

  .punctuation.section.function {
    color: @color-text;
  }

  .punctuation.separator.key-value {
    color: @color-text;
  }
}
