.source.gfm {
  color: @color-string;

  .markup.heading {
    color: @color-keyword;
  }

  .markup.bold {
    color: @color-constant;
  }

  .markup.link {
    color: @color-constant;
  }

  .markup.italic {
    font-style: italic;
    color: @color-constant;
  }

  .markup.strike {
    text-decoration: line-through;
    color: @color-constant;
  }

  .variable.list {
    color: @color-keyword;
  }

  .comment.quote {
    font-style: italic;
    color: @color-constant;
  }
}
