.source.gfm {
  color: @color-string;

  .markup {
    &.heading {
      color: @color-keyword;
    }

    &.bold {
      font-weight: bold;
      color: @color-constant;
    }

    &.italic {
      font-style: italic;
      color: @color-constant;
    }

    &.strike {
      text-decoration: line-through;
      color: @color-constant;
    }

    &.link {
      color: @color-constant;
    }
  }

  .variable {
    &.list {
      color: @color-keyword;
    }
  }

  .comment {
    &.quote {
      font-style: italic;
      color: @color-constant;
    }
  }
}
