@import "colors";

// General colors
@syntax-text-color: @grey-light;
@syntax-cursor-color: @cyan;
@syntax-selection-color: lighten(@grey-dark, 10%);
@syntax-background-color: @grey-dark;

// Guide colors
@syntax-wrap-guide-color: transparent;
@syntax-indent-guide-color: lighten(@grey-dark, 5%);
@syntax-invisible-character-color: @grey;

// For find and replace markers
@syntax-result-marker-color: @grey-light;
@syntax-result-marker-color-selected: @white;

// Gutter colors
@syntax-gutter-text-color: @grey;
@syntax-gutter-text-color-selected: @grey-light;
@syntax-gutter-background-color: @grey-dark;
@syntax-gutter-background-color-selected: @grey-dark;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
